.TodoWrapper{
  min-width: 400px;
  min-height: 300px;
  border: 1px solid #00dd00;
  background: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 100px 600px 100px;
}

.todo-btn{
  color: #fff;
  background: #00dd00;
  cursor: pointer;
  border: 1px solid #00dd00;
  height: 30px;
  border-radius: 2px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.icon{
  display: inline-block;
  margin-right: 10px;
}

body{
  background-color: #000;
  font-family: 'Poppins',sans-serif;
  color: #00dd00;
}

.TodoForm{
  color: #00dd00;
}

.TodoForm input{
  flex: 1;
  width: 247px;
  border-radius: 2px;
  margin: 10px 0;
  height: 30px;
  background-color: #000;
  outline: none;
  box-shadow: none;
  border: 1px solid #00dd00;
  color: #00dd00;
}

.Todo{
  background: #00dd00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  width: 309px;
  margin: 10px 0;
  height: 30px;
  border-radius: 2px;
}